<?xml version="1.0"?>

<ruleset name="Pronamic Deployer rules">
	<file>.</file>

	<exclude-pattern type="relative">^deploy/*</exclude-pattern>
	<exclude-pattern type="relative">*/vendor/*</exclude-pattern>

	<rule ref="PronamicWP">

	</rule>
</ruleset>
